[submodule "submodules/Unity"]
	path = submodules/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "submodules/SDL"]
	path = submodules/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "submodules/gmp"]
	path = submodules/gmp
	url = https://github.com/gmp-mirror/gmp.git
[submodule "submodules/cJSON"]
	path = submodules/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "submodules/cutil"]
	path = submodules/cutil
	url = https://github.com/Acsyon/cutil.git
